:host{
    --rating-excellent: var(--primary, #238738);
    /* --rating-great: var(--rating-great);*/
    --rating-average: var(--warning, #D99B22);
    /* --rating-poor: var(--rating-poor); */
    --rating-bad: var(--error, #D9222A);
    font-family: var(--primary-font-family, 'sans-serif');
    color: var(--primary-text, #242C38);
    font-weight: var(--font-weight-semi-bold, 600);
    --rating-track-color: var(--separator-01, #E1E6ED);
    --rating-donut-font-size: 1.4rem;
}
.rating-donut {
    &--container {
        font-size: var(--rating-donut-font-size);
        svg {
            circle {
                fill: transparent;
                transform: rotate(-90deg);
                transform-origin: 50% 50%;
            }
            text {
                fill: var(--primary-text, #242C38);
                text-anchor: middle;
            }
        }
    }
}